/**FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
/**VARIABLES*/
$font-inter: "Inter", sans-serif;
$font-lexend-deca: "Lexend Deca", sans-serif;
$color-darkblue: hsl(233, 47%, 7%); //main background)
$color-desaturated-blue: hsl(244, 38%, 16%); //card background
$color-violet: hsl(277, 64%, 61%); //accent
$color-violet-alt: hsla(277, 64%, 61%, 0.5); //accent
$color-white: hsl(0, 0%, 100%); //main heading, stats
$color-white-75: hsla(0, 0%, 100%, 0.75); //main paragraph
$color-white-60: hsla(0, 0%, 100%, 0.6); //stat headings
/*GENERAL*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: $color-darkblue;
  width: 100%;
  padding: 20px;
}
/**CARD*/
.card {
  max-width: 654px; //image size for desktops is 540x446 - mobile size 654x480
  width: 100%;
  border-radius: 10px;
  background-color: $color-desaturated-blue;

  margin-top: 50px;
  overflow: hidden;
  display: grid;
  grid-template-areas: "col1" "col2";
  .card-img {
    grid-area: col1;
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-violet-alt;
      z-index: 10;
    }
  }
  .card-content {
    grid-area: col2;
    width: 100%;
    padding: 30px;
    text-align: center;
    h1 {
      color: $color-white;
      margin-bottom: 30px;
      span {
        color: $color-violet;
      }
    }
    p {
      color: $color-white-75;
      margin-bottom: 30px;
      line-height: 1.6;
      font-family: $font-lexend-deca;
      font-size: 15px;
    }
    ul {
      list-style: none;
      li {
        display: flex;
        font-size: 15px;
        line-height: 1.8;
        color: $color-white-75;
        flex-direction: column;
        span {
          font-size: 20px;
        }
      }
    }
  }

  /**MEDIA QUERIES*/
  @media screen and (min-width: 768px) {
    max-width: 1080px;
    grid-template-areas: "col2 col1";
    grid-template-columns: 1fr 1fr;
    .card-img {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      ul {
        display: flex;
        justify-content: center;
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
